@inherits Microsoft.AspNetCore.Components.LayoutComponentBase


<div class="d-flex flex-column min-vh-100">
    <MudStack class="align-content-center" style="background-color: #0072BC; padding: 20px 0;">
        <div class="container text-center col">
            <MudImage Src="Images/Widener_CSCI_Logo.png" Class="rounded-lg" href="#"/>
            <div class="row">
                <div class="col-12">
                    <a class="navbar-brand text-white" href="#" style="font-size: 24px; font-weight: bold;">
                        Widener Computer Science Club
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/events">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/newsletter">Newsletter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/team">Team</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </MudStack>

    <div class="container mt-4 flex-grow-1">
        <main>
            <article class="content">
                @Body
            </article>
        </main>
    </div>

    <footer class="text-center text-white mt-auto" style="background-color: #0072BC; padding: 10px 0;">
        Designed and Developed by V.P. Daniel Kmet
    </footer>
</div>